.home-container .renderer {
    position: absolute;
    z-index: -1;    
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.home-container .renderer canvas {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.home-container .renderer .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.home-container .renderer canvas {
    background-color: transparent;
}

.home-container .renderer.faded {
    opacity: 1;
}

.home-container {
    height: fit-content;
}

.home-container, .tile {
    width: 100%;  
}

.home-container .tile {
    height: calc(100vh - var(--xp-header-height));
}

.home-container .tile.middle {
    /*margin-top: var(--xp-header-height);*/
}

.home-container .tile.last {
    /*height: calc(100vh - var(--xp-header-height) - var(--xp-footer-height));*/
}

.home-container .main-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
}

@keyframes scroll-animation {
    0% { border-color: #bdbdbd; }
    50% { border-color: #bdbdbd0a; }
    100% { border-color: #bdbdbd; }
}

/**************************************************/
/* full screen first cover */
.home-container .wp-block-cover:first-child {
    min-height: calc(100vh - var(--xp-header-height)) !important;
}

/* first cover scroll arrows */
.home-container .wp-block-cover:first-child .scroll .arrow {
    position: relative;
    left: 50%;
    content: "";
    width: 15px;
    height: 15px;
    border-right: 0.2em solid;
    border-top: 0.2em solid;
    border-color: #bdbdbd;
    transform: translateX(-50%) rotate(135deg);
    animation: scroll-animation 3s infinite;
}

.home-container .wp-block-cover:first-child .scroll .arrow:nth-child(1) { animation-delay: 0s; }
.home-container .wp-block-cover:first-child .scroll .arrow:nth-child(2) { animation-delay: 1s; }
.home-container .wp-block-cover:first-child .scroll .arrow:nth-child(3) { animation-delay: 2s; }

/* main tile cover text */
.split-line-wrapper {
    overflow: hidden;
}

.split-line {
    transform: translate(0px, 50px);
}