.home-container .renderer {
    width: 100%;
    height: calc(100vh - var(--xp-header-height));
    position: fixed;
    /*z-index: 1;*/
    /*pointer-events: none;*/
}

.home-container .renderer canvas {
    background-color: transparent;
}

.home-container .renderer .loader {
    position: absolute;
    width: 10vw;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #212121;
}

.home-container .renderer .loader .bar {
    position: relative;
    top: 0px;
    height: 10px;
    width: 0%;
    background: #bdbdbd;
    /*transition: width 1s ease-in;*/
}

.home-container .renderer.faded {
    opacity: 1;
}

.home-container {
    height: fit-content;
}

.home-container, .tile {
    width: 100%;
}

.home-container .tile {
    height: calc(100vh - var(--xp-header-height));
}

.home-container .tile.middle {
    /*margin-top: var(--xp-header-height);*/
}

.home-container .tile.last {
    height: calc(100vh - var(--xp-header-height) - var(--xp-footer-height));
}

.home-container .down-arrow {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    animation: down-arrow-oscillation 1s ease-in-out infinite;
}

.home-container .down-arrow:after,
.home-container .down-arrow:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    position: fixed;
    pointer-events: none;
    transition: border 0.5s ease-in;
}

.home-container .down-arrow:before {
    border-left: 2px solid #bdbdbd;
    transform: rotate(300deg);
    left: 4px;
}

.home-container .down-arrow:after {
    border-right: 2px solid #bdbdbd;
    transform: rotate(60deg);
    left: 14px;
}

@keyframes down-arrow-oscillation {
    0% { transform: translateY(1vh);  }
    50% { transform: translateY(2vh); }
    100% { transform: translateY(1vh); }
}

.home-container .down-arrow:hover:after,
.home-container .down-arrow:hover:before {
    border-color: var(--wp--preset--color--accent);
}

.home-container .main-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
}

.home-container .pagination {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

.home-container .pagination li {
    width: 6px;
    height: 6px;
    background: var(--wp--preset--color--accent);
    margin-top: 20px;
    border-radius: 50%;
}

.home-container .pagination li::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #bdbdbd;
    transform: translate(-7px, -7px);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


.home-container .pagination li.active::after {
    opacity: 1;
}

.home-container .scroll {
    top: 0;
    width: 100%;
    height: 100%;
    background: #212121;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.home-container .scroll .container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-container .scroll .container p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'tstar';
    color: #b0b0b0;
    margin-top: 0;
    width: fit-content;
}

.home-container .scroll .container .arrow {
    position: relative;
    left: 50%;
    content: "";
    width: 15px;
    height: 15px;
    border-right: 0.2em solid;
    border-top: 0.2em solid;
    border-color: #bdbdbd;
    transform: translateX(-50%) rotate(135deg);
    animation: scroll-animation 3s infinite;
}

.home-container .scroll .arrow:nth-child(1) {
    animation-delay: 0s;
}

.home-container .scroll .arrow:nth-child(2) {
    animation-delay: 1s;
}

.home-container .scroll .arrow:nth-child(3) {
    animation-delay: 2s;
}

@keyframes scroll-animation {
    0% { border-color: #bdbdbd; }
    50% { border-color: #bdbdbd0a; }
    100% { border-color: #bdbdbd; }
}