.home-container .renderer {
    width: 100vw;
    height: calc(100vh - var(--xp-header-height));
    position: fixed;
    z-index: -1;
    /*pointer-events: none;*/
}

.home-container .renderer canvas {
    background-color: transparent;
}

.home-container .renderer.faded {
    opacity: 1;
}

.home-container {
    height: fit-content;
}

.home-container, .tile {
    width: 100%;
}

.home-container .tile {
    height: calc(100vh - var(--xp-header-height));
}

.home-container .tile.main {
    border: 1px solid green;
}

.home-container .tile.middle {
    /*margin-top: var(--xp-header-height);*/
    border: 1px solid blue;
}

.home-container .tile.last {
    height: calc(100vh - var(--xp-header-height) - var(--xp-footer-height));
    border: 1px solid magenta;
}

.home-container .main-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
}

.home-container .pagination {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

.home-container .pagination li {
    width: 6px;
    height: 6px;
    background: var(--wp--preset--color--accent);
    margin-top: 20px;
    border-radius: 50%;
}

.home-container .pagination li::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #bdbdbd;
    transform: translate(-7px, -7px);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


.home-container .pagination li.active::after {
    opacity: 1;
}


@keyframes scroll-animation {
    0% { border-color: #bdbdbd; }
    50% { border-color: #bdbdbd0a; }
    100% { border-color: #bdbdbd; }
}

/**************************************************/
/* full screen first cover */
.home-container .wp-block-cover:first-child {
    min-height: calc(100vh - var(--xp-header-height)) !important;
}

/* first cover scroll arrows */
.home-container .wp-block-cover:first-child .scroll .arrow {
    position: relative;
    left: 50%;
    content: "";
    width: 15px;
    height: 15px;
    border-right: 0.2em solid;
    border-top: 0.2em solid;
    border-color: #bdbdbd;
    transform: translateX(-50%) rotate(135deg);
    animation: scroll-animation 3s infinite;
}

.home-container .wp-block-cover:first-child .scroll .arrow:nth-child(1) { animation-delay: 0s; }
.home-container .wp-block-cover:first-child .scroll .arrow:nth-child(2) { animation-delay: 1s; }
.home-container .wp-block-cover:first-child .scroll .arrow:nth-child(3) { animation-delay: 2s; }

/* main tile cover text */
.tile.main .wp-block-cover p .split-line-wrapper {
    overflow: hidden;
}

.tile.main .wp-block-cover p .split-line {
    transform: translate(0px, 50px);
}