footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    display: flex;
    height: fit-content;
    /*min-height: var(--xp-footer-height);*/
    background: var(--wp--preset--color--accent);
}

footer .widget {
    width: 100%;
    height: 100%;
}