.preloader:before {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 50vh;
    background-color: #212121;
}

.preloader:after {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 50vh;
    left: 0%;
    width: 100vw;
    height: 50vh;
    background-color: #212121;
}

.preloader.faded:before {
    animation: top-fade-out 1.5s ease-in forwards;
}

.preloader.faded:after {
    animation: bottom-fade-out 1.5s ease-in forwards;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.preloader a {
    color: #e0e0e0;
    z-index: 1001;
    top: 50%;
    left: 50% !important;
    margin: 0;
    margin-left: 0 !important;
    padding: 0;
    transform: translate(-50%, -50%);
}

.preloader.faded a {
    animation: logo-fade-out 0.5s ease-in forwards;
}

@keyframes logo-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes top-fade-out {
    0% {
        top: 0%;
    }
    100% {
        top: -50vh;
        display: none;
    }
}

@keyframes bottom-fade-out {
    50% {
        top: 50vh;
    }
    100% {
        top: 100vh;
        display: none;
    }
}